@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import 'tailwindcss';

@layer base {
  body {
    @apply mx-auto min-h-screen w-full max-w-5xl;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color-primary);
  }
}

@theme {
  --color-main-green: #cddf7d;
  --color-charge-green: #a8e063;
  --color-drain-peach: #c5df7d;
  --color-soft: #fff8f0;
  --color-warm: #fee2c0;
  --color-green: #d9eaab;
  --color-lightgreen: #d9eaab;
  --color-light: #f7f7f7;
  --color-medium: #e4e4e4;
  --color-disabled: #c8c8c8;
  --color-primary: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #dc2626;
  --color-green: #0ed15c;
}

/* --- 필요 시 추가 --- */

@layer components {
  /* 전체 화면 중앙 정렬 */
  .screen-center {
    @apply flex min-h-screen flex-col items-center justify-center;
  }
  /* 제목 텍스트 */
  .text-sb-18 {
    @apply text-[18px] font-semibold;
  }
  /* profile 밑줄 */
  @layer components {
    .highlight-center {
      @apply relative inline-block;
    }

    .highlight-center::after {
      content: '';
      @apply bg-main-green/60 absolute top-[55%] left-0 h-1.5 w-full -translate-y-1/2;
    }

    .highlight-text {
      @apply relative z-10;
    }
  }
}
